:root {
    /* Define font size variables */
    --font-size-large: 3.5vh;
    --font-size-medium: 2.5vh;
    --font-size-small: 2vh;

    --font-weight-bold: 700;
    --font-weight-regular: 500;
    --font-weight-light: 400;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 5vh 5vw;
    overflow: hidden;

    header {
        grid-column: 1 / span 6;

        h1 {
            color: lightsteelblue;
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-bold);
            padding-bottom: 0.5ch;
            border-bottom: 0.3ch solid lightsteelblue;
        }
    }

    main {
        grid-column: 2 / span 4;
        grid-row: 3 / span 1;

        .label {
            color: lightsteelblue;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-light);
            font-style: italic;
        }

        .message-text {
            color: darkslategray;
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-regular);
            margin-top: 5%;
        }
    }

    footer {
        grid-column: 5 / span 2;
        grid-row: 6 / span 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            color: lightsteelblue;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-light);
            text-decoration: none;
            border-bottom: 0.1ch solid transparent;
            transition: all 0.2s;

            &:hover {
                color: slategray;
                border-bottom: 0.1ch solid slategray;
            }
        }
    }
}